BOT_TOKEN=8872591174:AAHBdDTBptdyWHx-917tO8j9PrBLI1YiF6s
OWNER_ID=8525505877
ADMIN_ID=8525505877
UPDATE_CHANNEL=https://t.me/geniushackerfreetools
YOUR_USERNAME=@Hackerwibes2
ADMIN_PASSWORD=geniushacker29@Bl7Kq
